<title>Cargar Partido</title>

<!-- Sólo para pruebas -->
<a ui-sref="cargarResultados">Ir a Cargar Resultados</a>
<a ui-sref="cargarEquipo">Ir a Cargar Equipos</a>
<br>

<div class="container" ng-controller="PartidoController as ctrl">
    <div class="page-header">
        <h1>Gestión de Partidos</h1>
    </div>


    <div>
        <div class="alert alert-danger" ng-show="ctrl.errorMessage">
            {{ctrl.errorMessage}}</div>
    </div>

    <div class="row">

        <div class="col-lg-8">

            <!-- Partidos -->
            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <tbody>
                        <tr>
                            <th class="text-center">Equipo local</th>
                            <th class="text-center">Equipo visitante</th>
                            <th class="text-center">Resultado</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Estadio</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr data-ng-repeat="partido in ctrl.partidos">
                            <td class="col-xs-3 text-center">
                                <img ng-src="{{partido.equipoLocal.imagenSrc}}" width="20px" /> {{partido.equipoLocal.nombre}}
                            </td>
                            <td class="col-xs-3 text-center">
                                <img ng-src="{{partido.equipoVisitante.imagenSrc}}" width="20px" /> {{partido.equipoVisitante.nombre}}
                            </td>
                            <td class="col-xs-2 text-center">{{partido.resultado.golesLocal}} - {{partido.resultado.golesVisitantes}}</td>
                            <td class="col-xs-2 text-center">{{partido.fecha.date.day}}/{{partido.fecha.date.month}}/{{partido.fecha.date.year}} {{partido.fecha.time.hour}}:{{partido.fecha.time.minute}}</td>
                            <td class="col-xs-2 text-center">{{partido.estadio}}</td>
                            <td nowrap class="col-xs-2">
                                <button type="button" class="btn equipos-btn-eliminar" data-ng-click="ctrl.eliminarPartido(partido);" aria-label="Eliminar">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Agregar partido -->
        <div class="col-lg-4 well well-lg">
            <h2>Agregar Partido</h2>
            <div>
                <form name="agregarPartidoForm" role="form" ng-submit="ctrl.cargarPartido()">
                    <fieldset>
                        <div class="form-group">
                            <label for="nombre">Fecha y hora</label>
                            <p class="input-group">
                                <input type="text" class="form-control" clear-text="Limpiar" current-text="Hoy" close-text="Cerrar" datepicker-popup="dd/MM/yyyy HH:mm:ss"
                                    ng-model="ctrl.partido.fecha" is-open="ctrl.calendarioAbierto" datepicker-options="ctrl.dateOptions"
                                    ng-required="true" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.verCalendario($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div ng-controller="EquipoController as equipoCtrl">
                            <div class="form-group">
                                <label for="grupo">Equipo local</label>
                                <select name="equipoLocal" class="form-control" ng-model="ctrl.partido.equipoLocal" ng-options="equipo.nombre for equipo in equipoCtrl.equipos"
                                    required="true"></select>
                            </div>
                            <div class="form-group">
                                <label for="grupo">Equipo visitante</label>
                                <select name="equipoVisitante" class="form-control" ng-model="ctrl.partido.equipoVisitante" ng-options="equipo.nombre for equipo in equipoCtrl.equipos"
                                    required="true" ng-disabled="!ctrl.partido.equipoLocal.nombre"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Estadio</label>
                            <input type="text" id="estadio" ng-model="ctrl.partido.estadio" placeholder="Ingresá estadio" class="form-control" required="true">
                        </div>
                        <button type="submit" class="btn btn-primary">Cargar Partido</button>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>