<div data-ng-controller="CargarResultadosController as ctrl">
    <ul class="nav nav-pills nav-stacked">
        <li data-ng-repeat="grupo in ctrl.grupos">
            <div>
                <br>
                <b>Grupo {{grupo}}</b>
                <br>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Posición</th>
                            <th>Equipo</th>
                            <th>Grupo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="equipo in ctrl.getGrupo(grupo)">

                            <th>1</th>
                            <td>{{equipo.nombre}}</td>
                            <td>{{equipo.zona}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>

    





    <!-- Sólo para pruebas -->
    <br>
    <br>
    <br>
    <a ui-sref="cargarEquipo">Ir a Cargar Equipos</a>



</div>