<title>Cargar Equipo</title>

<!-- Sólo para pruebas -->
<a ui-sref="cargarResultados">Ir a Cargar Resultados</a>
<a ui-sref="cargarPartidos">Ir a Cargar Partidos</a>
<br>

<div class="container" ng-controller="EquipoController as ctrl">
    <div class="page-header">
        <h1>Gestión de Equipos</h1>
    </div>


    <div>
        <div class="alert alert-danger" ng-show="ctrl.errorMessage">
            {{ctrl.errorMessage}}</div>
    </div>

    <div class="row">

        <div class="col-lg-8">

            <!-- Busqueda -->
            <div class="equipos-busqueda">
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="ctrl.busqueda" class="form-control" placeholder="Ingresá país a buscar">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" data-ng-click="ctrl.buscarEquipos()">Buscar</button>
                        </span>
                    </div>
                </form>
            </div>

            <!-- Equipos -->
            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <tbody>
                        <tr>
                            <th class="text-center">País</th>
                            <th class="text-center">Grupo</th>
                            <th class="text-center">Es cabeza de serie</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr data-ng-repeat="equipo in ctrl.equipos">
                            <td class="col-xs-3 text-center">
                                <img ng-src="{{equipo.imagenSrc}}" width="20px" /> {{equipo.nombre}}
                            </td>
                            <td class="col-xs-2 text-center">{{equipo.zona}}</td>
                            <td class="col-xs-2 text-center">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="equipo.esCabezaDeSerie"></span>
                            </td>
                            <td nowrap class="col-xs-2">
                                <button type="button" class="btn equipos-btn-modificar" data-ng-click="ctrl.modificarEquipo(equipo)" aria-label="Editar">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn equipos-btn-eliminar" data-ng-click="ctrl.eliminarEquipo(equipo);" aria-label="Eliminar">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Agregar equipo -->
        <div class="col-lg-4 well well-lg">
            <h2>Agregar Equipo</h2>
            <div>
                <form name="agregarEquipoForm" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label for="nombre">País</label>
                            <input ng-model="ctrl.equipoACargar.nombre" type="text" id="nombre" placeholder="Ingresá país a cargar" class="form-control"
                                required="true">
                        </div>
                        <div class="form-group">
                            <label for="grupo">Grupo</label>
                            <input ng-model="ctrl.equipoACargar.zona" type="text" id="grupo" placeholder="Ingresá grupo" class="form-control" required="true"
                                maxlength="1" ng-keyup="ctrl.upperCase(ctrl.equipoACargar.zona)">
                        </div>
                        <div class="form-group">
                            <label for="esCabezaDeSerie">Es cabeza de serie</label>
                            <input ng-model="ctrl.equipoACargar.esCabezaDeSerie" type="checkbox" id="defaultCheck1">
                        </div>
                        <button type="submit" class="btn btn-primary" data-ng-click="ctrl.cargarEquipo()">Cargar Equipo</button>

                    </fieldset>
                </form>
            </div>
        </div>

    </div>


    <!-- MODEL WINDOW PARA MODIFICAR UN EQUIPO -->
    <div id="modificarEquipoModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modificar Equipo</h4>
                </div>
                <div class="modal-body">
                    <h3>
                        <img ng-src="{{ctrl.equipoParaModificar.imagenSrc}}" width="30px" /> {{ctrl.equipoParaModificar.nombre}}
                    </h3>
                    <form name="modificarEquipoForm" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label for="zona-modificar">Grupo</label>
                                <input ng-model="ctrl.equipoParaModificar.zona" type="text" id="grupo" class="form-control" required="true" maxlength="1"
                                    ng-keyup="ctrl.upperCase(ctrl.equipoParaModificar.zona)">
                            </div>
                            <div class="form-group">
                                <label for="defaultCheck1" class="col-sm-4 control-label">Es cabeza de serie</label>
                                <input ng-model="ctrl.equipoParaModificar.esCabezaDeSerie" type="checkbox" id="defaultCheck1" class="form-check-input">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-ng-click="ctrl.aplicarModificacion()">Modificar</button>
                </div>
            </div>
        </div>
    </div>
</div>