<a ui-sref="cargarEquipo">Ir a Cargar Equipos</a>
<a ui-sref="cargarPartidos">Ir a Cargar Partidos</a>
<br>

<div data-ng-controller="ResultadosController as ctrl">
    <ul class="nav nav-pills nav-stacked">
        <li data-ng-repeat="grupo in ctrl.grupos">
            <div class="col-sm-5">
                <br>
                <b>Grupo {{grupo}}</b>
                <br>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-condensed">
                        <tbody>
                            <tr>
                                <th>Equipo</th>
                                <th class="success text-center">Pts</th>
                                <th class="text-center">PJ</th>
                                <th class="text-center">PG</th>
                                <th class="text-center">PE</th>
                                <th class="text-center">PP</th>
                                <th class="text-center">GF</th>
                                <th class="text-center">GC</th>
                                <th class="text-center">Dif</th>
                            </tr>
                            <tr data-ng-repeat="equipo in ctrl.equipos" ng-show="ctrl.esEquipoDeGrupo(equipo, grupo)" ng-class="{true:'bold'}[equipo.esCabezaDeSerie]">
                                <td>
                                    <img ng-src="{{equipo.imagenSrc}}" width="20px" />
                                    <b>{{equipo.nombre}}</b>
                                </td>
                                <td class="success bold text-center">
                                    {{equipo.puntos}}
                                </td>
                                <td class="text-center">
                                    {{equipo.partidosJugados}}
                                </td>
                                <td class="text-center">
                                    {{equipo.partidosGanados}}
                                </td>
                                <td class="text-center">
                                    {{equipo.partidosEmpatados}}
                                </td>
                                <td class="text-center">
                                    {{equipo.partidosPerdidos}}
                                </td>
                                <td class="text-center">
                                    {{equipo.golesAFavor}}
                                </td>
                                <td class="text-center">
                                    {{equipo.golesEnContra}}
                                </td>
                                <td class="text-center">
                                    {{equipo.diferencia}}
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <ul data-ng-repeat="partido in ctrl.partidos" ng-show="ctrl.esEquipoDeGrupo(partido.equipoLocal, grupo)" style="list-style-type:none">
                        <li>
                            <div>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <span class="col-md-2 control-label">{{partido.equipoLocal.nombre}}</span>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <input ng-change="ctrl.actualizarResultado(partido)" ng-model="partido.resultado.golesLocal" type="text" id="golesLocal"
                                                        class="form-control" required>
                                                </div>
                                                <div class="col-md-3">
                                                    <input ng-change="ctrl.actualizarResultado(partido)" ng-model="partido.resultado.golesVisitantes" type="text" id="golesVisitante"
                                                        class="form-control" required>
                                                </div>
                                                <span class="col-md-3 control-label">{{partido.equipoVisitante.nombre}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>


                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </li>
    </ul>

    <!-- BRACKET -->



    <div ng-show="ctrl.llavesArmadas">

        <div class="col-1-8">
            <div data ng-repeat="llave in ctrl.llaves">
                <ul class="matchup">
                    <li>
                        <div ng-click="ctrl.elegirGanador(llave, llave.equipoLocal)">
                            <span class="seed">
                                <img ng-src="{{llave.equipoLocal.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{llave.equipoLocal.nombre}}</span>
                        </div>
                    </li>
                    <li>
                        <div ng-click="ctrl.elegirGanador(llave, llave.equipoVisitante)">
                            <span class="seed">
                                <img ng-src="{{llave.equipoVisitante.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{llave.equipoVisitante.nombre}}</span>
                        </div>
                    </li>
                </ul>


            </div>
        </div>



        <div class="col-1-8">
            <div class="round-two-one">
                <ul class="matchup">
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveCuartos(0), ctrl.llave(0).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llave(0).ganador != null" ng-src="{{ctrl.llave(0).ganador.imagenSrc}}" width=20px>
                            </span> {{ctrl.llave(0).ganador.nombre}}
                            <span class="score"></span>
                        </div>
                    </li>
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveCuartos(0), ctrl.llave(1).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llave(1).ganador != null" ng-src="{{ctrl.llave(1).ganador.imagenSrc}}" width=20px>
                            </span> {{ctrl.llave(1).ganador.nombre}}
                            <span class="score"></span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="round-two-two">
                <ul class="matchup">
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveCuartos(1), ctrl.llave(2).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llave(2).ganador != null" ng-src="{{ctrl.llave(2).ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{ctrl.llave(2).ganador.nombre}}</span>
                        </div>
                    </li>
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveCuartos(1), ctrl.llave(3).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llave(3).ganador != null" ng-src="{{ctrl.llave(3).ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{ctrl.llave(3).ganador.nombre}}</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="round-two-three">
                <ul class="matchup round-two-bottom">
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveCuartos(2), ctrl.llave(4).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llave(4).ganador != null" ng-src="{{ctrl.llave(4).ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{ctrl.llave(4).ganador.nombre}}</span>
                        </div>
                    </li>
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveCuartos(2), ctrl.llave(5).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llave(5).ganador != null" ng-src="{{ctrl.llave(5).ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{ctrl.llave(5).ganador.nombre}}</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="round-two-four">
                <ul class="matchup round-two-bottom">
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveCuartos(3), ctrl.llave(6).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llave(6).ganador != null" ng-src="{{ctrl.llave(6).ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{ctrl.llave(6).ganador.nombre}}</span>
                        </div>
                    </li>
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveCuartos(3), ctrl.llave(7).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llave(7).ganador != null" ng-src="{{ctrl.llave(7).ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{ctrl.llave(7).ganador.nombre}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>



        <div class="col-1-8">
            <div class="round-three-one">
                <ul class="matchup">
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveSemis(0), ctrl.llaveCuartos(0).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llaveCuartos(0).ganador != null" ng-src="{{ctrl.llaveCuartos(0).ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{ctrl.llaveCuartos(0).ganador.nombre}}</span>
                        </div>
                    </li>
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveSemis(0), ctrl.llaveCuartos(1).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llaveCuartos(1).ganador != null" ng-src="{{ctrl.llaveCuartos(1).ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{ctrl.llaveCuartos(1).ganador.nombre}}</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="round-three-two">
                <ul class="matchup">
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveSemis(1), ctrl.llaveCuartos(2).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llaveCuartos(2).ganador != null" ng-src="{{ctrl.llaveCuartos(2).ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{ctrl.llaveCuartos(2).ganador.nombre}}</span>
                        </div>
                    </li>
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveSemis(1), ctrl.llaveCuartos(3).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llaveCuartos(3).ganador != null" ng-src="{{ctrl.llaveCuartos(3).ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{ctrl.llaveCuartos(3).ganador.nombre}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-1-8 champ">
            <div class="round-four">
                <ul class="matchup">
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveFinal(), ctrl.llaveSemis(0).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llaveSemis(0).ganador != null" ng-src="{{ctrl.llaveSemis(0).ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{ctrl.llaveSemis(0).ganador.nombre}}</span>
                        </div>
                    </li>
                    <li>
                        <div ng-click="ctrl.elegirGanador(ctrl.llaveFinal(), ctrl.llaveSemis(1).ganador)">
                            <span class="seed">
                                <img ng-show="ctrl.llaveSemis(1).ganador != null" ng-src="{{ctrl.llaveSemis(1).ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score">{{ctrl.llaveSemis(1).ganador.nombre}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-1-8 champ">
            <div class="campeon">
                <ul class="matchup">
                    <li>
                        <div class="colorCampeon">
                            <span class="seed">
                                <img ng-show="ctrl.llaveFinal().ganador != null" ng-src="{{ctrl.llaveFinal().ganador.imagenSrc}}" width=20px>
                            </span>
                            <span class="score bold">{{ctrl.llaveFinal().ganador.nombre}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>